.login-background{
    background-image: url('../../../images/v870-tang-36.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
}
.login-background div {
    min-width: 700px;
}
.create-account{
    text-decoration: none;
    color: black;
}
.create-account:hover{
    color: red;
    text-decoration: red;
    text-decoration: underline;
}